.content {
  width: 100%;
  min-height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("img/back.jpg");

  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: .8;
    background-image: linear-gradient(to top, rgba(26, 40, 120, 0.70), rgba(10, 143, 196, 0.70));
  }

  svg {
    width: 250px;
    g {
      fill: darkgreen;
    }
  }

  .wrap {
    position: relative;
    z-index: 1;
    max-width: 1024px;
  }

  .header {
    font-size: 50px;
    color: white;
  }

  .descr {
    color: white;
    font-size: 20px;
    line-height: 1.15;
  }
}

